In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
import pandas as pd
import numpy as np
import plotly.express as px

In [7]:
music_ranks = pd.read_csv("run_results.csv")
music_ranks.describe()

                                                   column
count                                                 373
unique                                                370
top     1 WAIT FOR U , Future featuring Drake & Tims (...
freq                                                    2

In [10]:
music = music_ranks.drop_duplicates()
music

                                                column
0    TW LW TITLE ARTIST (LABEL) WEEKS PEAK (#1)\n1 ...
1    11 15 THE CHRISTMAS SONG (MERRY CHRISTMAS TO Y...
2    21 27 WHITE CHRISTMAS , Bing Crosby (Decca (19...
3    31 26 BAD HABITS , Ed Sheeran (Asylum) 26 (2)\...
4    42 31 I HATE U , SZA (Top Dawg/ RCA) 3 (7)\n45...
..                                                 ...
368  21 35 IT’S BEGINNING TO LOOK A LOT LIKE CHRIST...
369  31 re YOU’RE A MEAN ONE, MR. GRINCH , Thurl Ra...
370  41 34 SUPERHERO (HEROES & VILLAINS) , Metro Bo...
371  42 re MERRY CHRISTMAS , Ed Sheeran & Elton Joh...
372  30 re LITTLE SAINT NICK , the Beach Boys (Capi...

[370 rows x 1 columns]